<polymer-element name="click-counter" attributes="count">
  <template>
    <style>
      div {
        font-size: 24pt;
        text-align: center;
        margin-top: 140px;
      }
      button {
        font-size: 24pt;
        margin-bottom: 20px;
        background-color: green;
      }
    </style>
    <div>
      <button on-click="{{makeMeHappy}}">Click me</button><br>
      <button on-click="{{doubleIncrement}}">Double increment</button><br>
      <span on-click="{{doubleIncrement}}">(click count: {{count}})</span>
    </div>
    <a-timer id="timer" on-counterstopped="{{doSomething}}"/>
  </template>
  <script type="application/dart" src="clickcounter.dart"></script>
</polymer-element>
