<polymer-element name="a-timer">
  <template>
    <style>
      div {
      text-align: center;
      }
      span {
      color: #bebebe;
      }
    </style>
    <div>
      <span id="text">{{textValue}} {{counter}}</span>
      <button on-click="{{start}}" id="start">Start timer</button>
      <button on-click="{{stop}}">Stop</button>
      <div>
	<input type="text" value="{{textValue}}" />
      </div>
      <template if="{{counter > 5}}">
	Counter is more than five!
      </template>
    </div>
  </template>
  <script type="application/dart" src="timer.dart"></script>
</polymer-element>
